body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  -webkit-font-kerning: none;
          font-kerning: none;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

.big-button {
  display: block;
  flex-shrink: 0;
  width: 253px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: none;
  border-radius: 3px;

  overflow: hidden;
}

.big-button--white {
  color: #000000;
  background-color: #ffffff;
}

.big-button--red {
  color: #ffffff;
  background-color: #ee3643;
}

.big-button--red:hover,
.big-button--red:focus {
  color: #ffffff;
  background-color: #ca2c37;
}
.big-button--red:active {
  background-color: #ba2732;
}

.header__logo,
.footer__logo {
  z-index: 10;

  display: inline-block;
  width: 220px;
  vertical-align: top;

  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.header__logo {
  height: 42px;
  padding-top: 12px;
}

.footer__logo {
  height: 63px;
  padding-top: 20px;
}

.header__logo:hover,
.header__logo:focus,
.footer__logo:hover,
.footer__logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px #9a212a;

}
.header__logo:active,
.footer__logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

/* header */

.header {
  min-height: 320px;

  background-color: #f3f7f8;
}

.header__top {
  min-height: 42px;

  font-size: 17px;
  line-height: 28px;

  color: #ffffff;
  background-color: #293449;
}

.header__top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header__button {
  padding-top: 7px;
  padding-right: 5px;
  min-width: 150px;
  min-height: 42px;
}

.header__button {
  text-decoration: none;

  color: inherit;
}

.header__button:hover,
.header__button:focus {
  background-color: #212a3a;
}
.header__button:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header__button-bookmarks {
  position: relative;

  padding-left: 44px;
}

.header__button-bookmarks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.3;
}

.header__button-cart {
  position: relative;

  padding-left: 49px;
}

.header__button-cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.3;
}

.header__button-bookmarks:hover::before,
.header__button-bookmarks:focus::before,
.header__button-cart:hover::before,
.header__button-cart:focus::before {
  opacity: 1;
}

.header__button-bookmarks:active::before,
.header__button-cart:active::before {
  opacity: 0.5;
}

.header__button-checkout {
  display: flex;
  justify-content: center;
  padding-right: 2px;

  background-color: #63a63e;
}

.header__button-checkout:hover,
.header__button-checkout:focus {
  background-color: #5fbb2d;
}
.header__button-checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header__button--red {
  background-color: #ee3643;
}

.header__button--red:hover,
.header__button--red:focus {
  background-color: #ca2c37;
}
.header__button--red:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #ba2732;
}

.header__button-search {
  position: relative;

  flex-grow: 1;
  display: flex;
  margin-left: 0;
  margin-right: auto;
  padding-top: 0px;
}

.header__button-search-icon {
  position: absolute;
  top: 29%;
  left: 17px;

  fill: #ffffff;
  opacity: 0.3;
}

.header__button-search-field:hover ~ .header__button-search-icon {
  opacity: 1;
}

.header__button-search-field:focus ~ .header__button-search-icon {
  fill: #ee3643;
  opacity: 1;
}

.header__button-search-field {
  order: 2;
  width: 100%;
  padding-left: 48px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  color: #ffffff;
  background-color: transparent;
  border: none;
}

.header__button-search-field:hover {
  background-color: #212a3a;
}
.header__button-search-field:focus,
.header__button-search-field:active {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.header__button-search-field::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.header__button-search-field::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.header__button-search-field:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.header__button-search-field::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
.header__button-search-field::placeholder {
  color: #ffffff;
  opacity: 1;
}

.header__middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 78px;
  margin-top: 36px;
  margin-bottom: 25px;
}

.header__info {
  max-width: 269px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 20px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: #ee3643;
}

.header__tel {
  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 22px;
  min-width: 270px;
  min-height: 45px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;

  border: 3px solid #ffffff;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 19px;
}

.header__tel:hover,
.header__tel:focus {
  color: #ca2c37;
}

.header__tel:active {
  color: #ba2732;
}

.header__contacts {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__contacts p {
  margin: 0;
  padding: 4px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: #32425c;
}
.login-panel {
  width: 299px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-panel__list {
  position: relative;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.login-panel__item {
  margin-bottom: 5px;
}

.login-panel__item a {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;

  color: inherit;
}

.login-panel__enter a,
.login-panel__registration a,
.login-panel__user-name a {
  display: block;
  padding-top: 12px;
  padding-bottom: 5px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;

  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
}

.login-panel__enter a {
  position: relative;

  min-width: 121px;
  min-height: 45px;
  margin-right: 10px;
  padding-left: 32px;
  padding-right: 10px;

  text-align: center;
}

.login-panel__enter svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.login-panel__registration a {
  min-width: 150px;
  min-height: 45px;
  padding-left: 24px;
}

.login-panel__user-name {
  width: 100%;

  background-color: #ffffff;

  -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

  overflow-x: auto;
  overflow-y: hidden;
}

.login-panel__user-name a {
  position: relative;

  min-height: 45px;
  padding-left: 46px;
  padding-right: 36px;
}

.login-panel__user-name svg {
  position: absolute;
  top: 13px;
  left: 13px;
}

.login-panel__user-logout {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 40px;
  height: 45px;
}

.login-panel__user-logout a {
  position: relative;
  left: 9px;
  top: 14px;
}

.login-panel__user-orders {
  position: relative;

  margin-right: 32px;
  margin-bottom: 0;
}

.login-panel__user-orders::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 89px;

  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: #32425c;
}

.login-panel__user-profile {
  margin-right: 72px;
  margin-bottom: 0;
}

.login-panel__enter-link:hover,
.login-panel__registration a:hover,
.login-panel__enter-link:focus,
.login-panel__registration a:focus {
  color: rgba(238, 54, 67, 1);
}
.login-panel__enter-link:active,
.login-panel__registration a:active,
.login-panel__user-name-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-panel__user-name-link:hover path,
.login-panel__user-name-link:focus path,
.login-panel__enter-link:hover path,
.login-panel__enter-link:focus path {
  fill: #32425c;
}
.login-panel__user-name-link:active path,
.login-panel__enter-link:active path {
  fill: #c5c5c5;
}

.login-panel__user-orders a,
.login-panel__user-profile a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;

  color: rgba(50, 66, 92, 1);
}

.login-panel__user-orders a:hover,
.login-panel__user-profile a:hover,
.login-panel__user-orders a:focus,
.login-panel__user-profile a:focus {
  color: rgba(238, 54, 67, 1);
}
.login-panel__user-orders a:active,
.login-panel__user-profile a:active {
  color: rgba(50, 66, 92, 0.3);
}

.login-panel__user-logout:hover g,
.login-panel__user-logout:focus g {
  fill: #32425c;
}

.login-panel__user-logout:active g {
  fill: #c5c5c5;
}

.login-panel__item--hidden {
  display: none;
}

.site-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 21px;
  padding-right: 25px;
}

.site-nav {
  font-size: 17px;
  line-height: 17px;

  color: #ffffff;
  background-color: #32425c;

  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-nav ul {
  list-style: none;
}

.site-nav a {
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 21px;
  padding-right: 21px;

  color: inherit;
  text-decoration: none;
}

.site-nav__item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.site-nav__item:hover,
.site-nav__item:focus {
  background-color: #293449;
}
.site-nav__item:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.site-nav__item--current {
  background-color: #293449;
}

/* main */

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 20px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:first-of-type) {
  margin-left: 40px;
}

.breadcrumbs__item:not(:first-of-type)::before {
  content: "";

  position: absolute;
  left: -25px;
  top: 50%;
  width: 8px;
  height: 12px;

  margin-top: -6px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.breadcrumbs__link-main {
  display: block;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.breadcrumb a {
  text-decoration: none;

  color: inherit;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  color: #ee3643;
}

.breadcrumb a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main__title,
.section-title {
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
}

.showcase-header .section-title {
  color: #32425c;
}

.showcase-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 89px;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 24px;
  -webkit-font-kerning: auto;
          font-kerning: auto;

  background-color: #f9f5f0;
}

.showcase-header--blue {
  background-color: #f2f6f8;
  color: #32425c;
}

.showcase-header a {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.section-text {
  margin: 0px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: #000000;
}

.section-text--wider {
  word-spacing: 1px;
}

.promo {
  margin-top: 59px;
}

.feature {
  position: relative;

  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding: 22px;
  padding-right: 115px;

  background-color: #9e8f80;

  overflow: hidden;
}

.feature--new::after {
  content: "";

  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  width: 61px;
  height: 62px;
  background-image: url("../img/flag-new.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.feature__title {
  margin: 0;
}

.materials-feature {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: 213px 31px;
}

.tools-feature {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 75px 61px;
  background-position: 197px 33px;
}

.equipment-feature {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: 191px 31px;
}

.discounts-feature {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 59px 72px;
  background-position: 196px 26px;
}

.delivery-feature {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: 191px 32px;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  list-style: none;
}

.feature__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}

.feature__link {
  display: flex;
  justify-content: center;
  width: 135px;
  min-height: 38px;
  margin: 11px 1px;
  padding-top: 11px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
}

.feature__link:hover,
.feature__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.service {
  padding-top: 35px;

  background-color: #f4f7f9;
}

.service .section-text {
  width: 410px;
}

.index-column {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
  padding-bottom: 86px;
}

.about-us {
  width: 540px;
}

.about-us p {
  margin-bottom: 24px;
}

.about-us__transport p {
  margin-bottom: 21px;
}

.transport__list {
  list-style: none;
  margin-bottom: 16px;
  padding-left: 36px;

}

.transport__item {
  position: relative;

  padding-bottom: 20px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;

  color: #000000;
}

.transport__item::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -36px;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.transport__item a {
  text-decoration: none;

  color: inherit;
}

.about-us__link {
  width: 220px;
  padding-left: 21px;
}

.contacts {
  width: 300px;
}

.contacts .section-text{
  width: 200px;
  margin-bottom: 31px;
}

.contacts__map {
  display: block;

  width: 300px;
  height: 158px;
  margin-bottom: 40px;

  background-color: #f4f2ed;
}

.contacts__link {
  width: 100%;
  padding-left: 26px;
}

.perforators__catalog-container {
  display: flex;
}

.filters__title {
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
  background-color: #f7f3ec;
}

.filters fieldset {
  width: 220px;
}

.filters {
  min-width: 220px;
  margin-right: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;

  color: #000000;
}

.filters__list,
.sorting__list,
.sorting__methods-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.price-filter {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.price-filter__title {
  margin-bottom: 13px;
}

.price-filter__range-controls {
  position: relative;

  margin-bottom: 9px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;

  background-color: #f7f3ec;
}

.price-filter__range-scale {
  height: 2px;

  background-color: #d7dcde;
}

.price-filter__range-bar {
  height: 100%;
  width: 89%;
  margin-left: 0;

  background-color: #00ca74;
}

.price-filter__pin {
  position: absolute;
  top: 31px;

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  cursor: pointer;
}

.price-filter__pin--min {
  left: 19px;
}

.price-filter__pin--max {
  left: 159px;
}

.price-filter__price {
  position: relative;

  display: inline-block;

  vertical-align: top;
}

.price-filter__price-controls {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
}

.price-filter__input {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;

  border: 0;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.price-filter__price--max::before {
  content: "";

  position: absolute;
  top: 19px;
  left: -19px;

  width: 9px;
  height: 1px;
  background-color: #444444;
}

.manufacturers-filter {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-bottom: 1px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.power-filter {
  margin: 0;
  margin-bottom: 57px;
  padding: 0;

  border: none;
}

.manufacturers-filter__title,
.power-filter__title {
  margin-bottom: 14px;
}

.manufacturers-filter__list,
.power-filter__list {
  padding: 0;
  list-style: none;
}

.manufacturers-filter__item,
.power-filter__item {
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
}

.filters__label {
  position: relative;

  padding-left: 34px;

  cursor: pointer;
}

.filters__input--manufacturers:checked + .filters__label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -1px;

  width: 28px;
  height: 23px;

  background-image: url(../img/checkbox-on-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 23px;
  opacity: 0.78;
}

.filters__input--manufacturers + .filters__label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 23px;
  opacity: 0.78;
}

.filters__input--power:checked + .filters__label::before {
  content: "";

  position: absolute;
  top: -5px;
  left: -1px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  opacity: 0.78;
}

.filters__input--power + .filters__label::before {
  content: "";

  position: absolute;
  top: -5px;
  left: -1px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  opacity: 0.78;
}

.filters__input:hover + .filters__label::before,
.filters__input:focus + .filters__label::before {
  opacity: 1;
}

.filters__input:checked:hover + .filters__label::before,
.filters__input:checked:focus + .filters__label::before {
  opacity: 1;
}

.filters__input:disabled + .filters__label {
  opacity: 0.4;
}

.filters__input:focus + .filters__label::before {
  box-shadow: 0 0 1px 2px rgba(0, 131, 255, 0.7);
}

.filters__button {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 38px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  background-color: white;
  color: #000000;

  cursor: pointer;
}

.filters__button:hover,
.filters__button:focus {
  border: 1px solid #bdc6ca;
}

.filters__button:active {
  border: 1px solid #ee3643;
  outline: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #000000;
  background-color: #f7f3ec;
}

.sorting__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 29px;
  margin-left: auto;
  padding-bottom: 3px;
}

.sorting__item {
  margin-left: 68px;
}

.sorting__title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 20px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sorting__item a {
  display: inline-block;
  padding-top: 5.7px;

  vertical-align: top;

  line-height: 14px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sorting__item a:hover,
.sorting__item a:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sorting__item--current a {
  color: #ee3643;

  border-bottom: none;
}

.sorting__methods-list {
  display: flex;
  justify-content: space-between;
  min-width: 77px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
}

.sorting__method a {
  padding-left: 8px;
  padding-right: 8px;

  text-decoration: none;

  color: rgba(0, 0, 0, 0.3);
}

.sorting__method path {
  fill: #c5c5c5;
}

.sorting__method--current path {
  fill: #ee3643;
}

.sorting__method a:hover,
.sorting__method a:focus {
  color: #000000;
}

.sorting__method:hover path,
.sorting__method:focus path {
  fill: #231f20;
}

.sorting__method--current a {
  color: #ee3643;
}

.products-container {
  flex-grow: 1;
  width: 700px;
}

.products {
  margin-bottom: 32px;
}

.products__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  margin-right: 20px;

  align-items: center;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.product:nth-child(3n) {
  margin-right: 0;
}

.popular-products__list .product:nth-child(3n) {
  margin-right: 20px;
}

.popular-products__list .product:nth-child(4n) {
  margin-right: 0;
}

.product:hover,
.product:focus {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product__image {
  margin: 0;
  margin-bottom: 10px;
  width: 218px;
  height: 170px;
}

.product__image img {
  max-width: 100%;
}

.product__link {
  text-decoration: none;

  color: #000000;
}

.product__title {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
}

.product__type,
.product__name {
  margin: 0;
  padding-right: 1px;
}

.product__price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.product__price--new {
  margin-top: 0;
  margin-left: 43px;
  margin-right: 36px;
  margin-bottom: 20px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 17px;
  padding-right: 20px;
  min-width: 141px;
  min-height: 38px;

  color: #ffffff;
  text-shadow: 0 0 7px #ee3643;

  background: url("../img/red-button2.svg") no-repeat;
  background-size: 100% 100%;
}

.product__price--new:hover,
.product__price--new:focus {
  opacity: 0.9;
}

.product__price--new:active {
  opacity: 0.2;
}

.product__price--old {
  margin-top: auto;
  margin-bottom: 9px;
  padding-left: 3px;

  text-decoration: line-through;

  color: #a9a9a9;
  background-color: #ffffff;
}

.product-buttons__list {
  display: none;
  z-index: 10;

  position: absolute;
  top: 0;
  right: 0;

  width: 218px;
  height: 170px;
  padding: 43px 0;

  list-style: none;
  background-color: rgba(255, 255, 255, 1);
}

.product:focus-within .product-buttons__list {
  display: block;
}

.product:focus .product-buttons__list,
.product:hover .product-buttons__list {
  display: block;
}

.product__button {
  display: block;

  width: 135px;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  color: #32425c;
  background-color: #ffffff;

  cursor: pointer;
}

.product__button--bookmark {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 3px;

  border: 3px solid #63a63e;
}

.product__button--bookmark:hover,
.product__button--bookmark:focus {
  border: 3px solid #32425c;
}
.product__button--bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.product__button--buy {
  position: relative;

  padding-top: 11px;
  padding-bottom: 6px;
  padding-right: 3px;

  border: 0;
  color: #ffffff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.product__button--buy:hover,
.product__button--buy:focus {
  background-color: #5fbb2d;
  border-bottom: 3px solid #367315;
}
.product__button--buy:active {
  background-color: #518534;
  border-bottom: 0;
  border-bottom: 3px solid #518534;
}

.product__button--buy::before {
  content: "";

  position: absolute;
  left: 14px;
  top: 11px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
}

.product__button--buy:hover::before ,
.product__button--buy:focus::before ,
.product__button--buy:active::before {
  opacity: 1;
}

.product--new::after {
  content: "";

  position: absolute;
  top: -2px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 61px;
  background-image: url("../img/flag-new.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.popular-products {
  margin-bottom: 1px;
}

.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-manufacturers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.popular-manufacturers__item {
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;

  text-align: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.popular-manufacturers__item a {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  align-items: center;
}

.popular-manufacturers__item:hover,
.popular-manufacturers__item:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-manufacturers__item:active {
  border: 1px solid #ffffff;
  opacity: 0.3;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.pagination__list {
  display: flex;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.pagination__item a {
  text-decoration: none;

  color: inherit;
}

.pagination__link {
  display: block;
  min-width: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
}

.pagination__link--control {
  padding-left: 31px;
  padding-right: 31px;
}

.pagination__link:hover,
.pagination__link:focus {
  border: 1px solid #bdc6ca;
}
.pagination__link:active {
  border: 1px solid #ee3643;
}

.pagination__link--current,
.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link--current:active {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 15px;

  border: 0;
  color: #ffffff;
  background-color: #ee3643;
}

.pagination__item--removed {
  display: none;
}

.about-product {
  padding-top: 35px;
  padding-bottom: 68px;
  padding-left: 5px;
  padding-right: 5px;

  background-color: #f2f6f8;
}


/* footer */

.footer__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__top {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color: #f3f7f9;
  background-color: #32425c;
}

.footer__address {
  max-width: 350px;
  margin-top: 33px;
  margin-bottom: 49px;

  padding-left: 3px;
}

.footer__tel {
  color: inherit;
  text-decoration: none;
}

.footer__logo-container {
  min-width: 350px;
}

.footer-nav {
  width: 590px;
  margin-top: 38px;

  font-size: 18px;
  line-height: 24px;

  color: #f1f5f7;
}

.footer-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item {
  padding-left: 29px;
  padding-right: 30px;
  padding-bottom: 34px;
}

.footer-nav__item--start-line{
  padding-left: 0;
}

.footer-nav__item--finish-line{
  padding-right: 0;
}

.footer-nav__item a {
  color: inherit;
  text-decoration: none;
}

.footer-nav__item--highlight {
  color: #ffd180;
}

.footer-nav__item:hover,
.footer-nav__item:focus {
  text-decoration: underline;
}

.footer-nav__item:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer__bottom-wrapper {
  display: flex;
  padding-top: 34px;
  padding-bottom: 16px;
}

.footer__bottom {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: #ffffff;
  background-color: #293449;
}

.footer__copyrights {
  width: 240px;
  margin: 3px 0;
  padding: 0 1px;
}

.socials__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 135px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 148px;
  margin-right: 115px;
  padding: 0;

  text-align: center;
  list-style: none;
}

.socials__item {
  display: flex;
  width: 41px;
  height: 41px;
  margin-bottom: 5px;

  text-decoration: none;

  border-radius: 50%;
  color: #ffffff;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.socials__link--vk {
  background-image: url("../img/icon-vk.svg");
}

.socials__link--fb {
  background-image: url("../img/icon-fb.svg");
}

.socials__link--insta {
  background-image: url("../img/icon-insta.svg");
}

.socials__item:hover,
.socials__item:focus,
.socials__item:active {
  background-color: #ee3643;
}

.feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 291px;
  padding: 3px;
}

.feedback__info {
  max-width: 135px;
  margin-bottom: 15px;
}

.feedback__info:nth-of-type(odd) {
  margin-right: 15px;
}

.feedback__info p {
  margin: 0;
}

.feedback__link {
  text-decoration: none;
  color: #ffd180;
}

.feedback__link:hover,
.feedback__link:focus {
  text-decoration: underline;
}
.feedback__link:active {
  text-decoration: none;
  color: #ee3643;
}


/* popups */

.popup {
  position: relative;

  width: 620px;

  border-top: 7px solid #ff5357;
  background-color: #ffffff;

  overflow: hidden;
}

.popup-close {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 50;

  width: 39px;
  height: 39px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 6px;
  height: 4px;
  width: 27px;
  border-radius: 2px;
  background-color: #ee3643;
}

.popup-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-close:hover::before,
.popup-close:hover::after,
.popup-close:focus::before,
.popup-close:focus::after {
  background-color: #ca2c37;
}

.popup-close:active::before,
.popup-close:active::after {
  background-color: #ba2732;
}

.popup--cart {
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 130;

  margin-left: -310px;

  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.popup--cart .popup__info-block {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 38px;
  padding-left: 179px;
  padding-right: 35px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: #000000;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: top 48px left 81px;
  background-size: 66px;
}

.popup-buttons__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 27px 70px;

  background-color: #f1f1f1;

  list-style: none;
}

.popup-buttons__item {
  flex-grow: 1;
  display: flex;
  width: 220px;
  margin: 10px;
  padding: 0;
}

.popup-buttons__item .big-button {
  flex-grow: 1;
  width: 220px;
}

.popup--write-us {
  position: fixed;
  top: 32%;
  left: 50%;
  z-index: 120;

  margin-left: -310px;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.popup--write-us .popup__info-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 37px;
  padding-bottom: 26px;
  padding-left: 70px;
  padding-right: 70px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.popup-form__item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 11px;
  margin-left: 10px;
  margin-right: 10px;
}

.popup-form__item label {
  margin-bottom: 9px;
  padding-left: 1px;
}

.popup-form__item input,
.popup-form__item textarea {
  padding: 8px 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.popup-form__item textarea {
  padding-bottom: 12px;

  resize: vertical;
}

.popup-form__item input::-webkit-input-placeholder,
.popup-form__item textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

.popup-form__item input::-moz-placeholder,
.popup-form__item textarea::-moz-placeholder {
  color: #a9a9a9;
}

.popup-form__item input:-ms-input-placeholder,
.popup-form__item textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.popup-form__item input::-ms-input-placeholder,
.popup-form__item textarea::-ms-input-placeholder {
  color: #a9a9a9;
}

.popup-form__item input::placeholder,
.popup-form__item textarea::placeholder {
  color: #a9a9a9;
}

.popup--map {
  position: fixed;
  top: 15%;
  left: 50%;
  z-index: 100;

  min-width: 940px;
  min-height: 446px;
  width: auto;
  margin-left: -470px;

  line-height: 0;

  background-color: #efebe3;
  border: none;

  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.popup--map a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.popup__iframe-map {
  position: relative;
  z-index: 2;

  width: 940px;
  height: 446px;

  border: none;
}

.popup--visible {
  display: block;
}

@keyframes bounce {
  0% {
    transform: translateY(2000px);
  }

  70% {
    transform: translateY(5px);
  }

  90% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

.popup-show {
  animation: bounce 0.6s;
}

@keyframes required-animation {
  from {
    box-shadow:
      inset 0 0 10px 15px #fbcfd0,
      0 0 5px 10px #fbcfd0;
  }
  to {
     box-shadow: none;
  }
}

.popup--write-us-required {
  animation-name: required-animation;
  animation-duration: 0.5s;
}

/* sliders */

.pr-slider {
  position: relative;
}

.pr-slider__list {
  padding: 0;

  list-style: none;
}

.pr-slide {
  position: relative;

  display: none;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
  width: 620px;
  height: 266px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;

  background-color: #9e8f80;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.pr-slide__title {
  margin: 2px 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

.pr-slide__text {
  margin: 2px 1px;
}

.pr-slider__item .pr-slide__button {
  position: absolute;
  bottom: 22px;
  left: 25px;

  width: 195px;
  padding-left: 25px;
}

.pr-slide:nth-of-type(1) {
  background-image: url("../img/slider-1.jpg");
}

.pr-slide:nth-of-type(2) {
  background-image: url("../img/slider-2.jpg");
}

.pr-slide--show {
  display: block;
}

.pr-slider__markers-list {
  position: absolute;
  bottom: 56px;
  left: 295px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pr-slider__markers-item{
  margin-right: 10px;
}

.pr-slider__marker {
  position: relative;

  display: flex;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #ffffff;
  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.pr-slider__button:focus,
.pr-slider__marker:focus {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.pr-slider__markers-item--current .pr-slider__marker::after {
  content: "";

  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  background-color: #ee3643;
}

.pr-slider__button {
  position: absolute;
  top: 114px;

  width: 22px;
  height: 40px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.pr-slider__button--next {
  right: 20px;
  background-image: url("../img/icon-right.svg");
}

.pr-slider__button--previous {
  left: 25px;
  background-image: url("../img/icon-left.svg");
}

.serv-slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 0;
  padding-top: 21px;
}

.serv-slider__control-list,
.serv-slider__list {
  list-style: none;
}

.serv-slider__control-list {
  position: relative;

  margin: 48px 0;
  padding: 0;

  align-self: flex-start;
}

.serv-slider__list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-top: 11px;
}

.serv-slider__button {
  min-width: 240px;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 800;
  text-align: left;
  color: #ffffff;

  border: none;
  background-color: #32425c;
  box-shadow:
    inset 0 1px 0 0 #405069,
    inset 0 -1px 0 0 #293449;

  cursor: pointer;
}

.serv-slider__control-list::after {
  content: "";

  position: absolute;
  right: 0;
  top: -25%;

  width: 10px;
  height: 150%;

  background-image: url("../img/service-slider_shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.25;
}

.serv-slider__button:hover,
.serv-slider__button:focus {
  color: #ffffff;
  background-color: #293449;
  box-shadow:
    inset 0 1px 0 0 #405069,
    0 1px 0 0 #293449;
}

.serv-slider__button--active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow:
    inset 0 1px 0 0 #ffffff,
    0 1px 0 0 #ffffff;
}

.service-slide {
  display: none;
  width: 100%;
  min-height: 321px;

  margin: 0 80px;
  padding: 10px 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.service-slide--active {
  display: block;
}

.service-slide__title {
  margin: 31px 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  color: #32425c;
}

.service-slide__text {
  max-width: 380px;
  margin: 0;
}

.service-slide__link {
  width: 195px;
  margin: 26px 0;

  background-color: #ff5357;
}

.service-slide--delivery {
  background-image: url("../img/service-delivery.png");
  background-repeat: no-repeat;
  background-position: right 81px top 60px;
}

.service-slide--guarantee {
  background-image: url("../img/service-guarantee.png");
  background-repeat: no-repeat;
  background-position: right 72px top 38px;
}

.service-slide--credit {
  background-image: url("../img/service-credit.png");
  background-repeat: no-repeat;
  background-position: right 70px top 36px;
}
