body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.big-button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.big-button--white {
  color: #000000;
  background-color: #ffffff;
}

.big-button--red {
  color: #ffffff;
  background-color: #ee3643;
}

.big-button--red:hover,
.big-button--red:focus {
  color: #ffffff;
  background-color: #ca2c37;
}
.big-button--red:active {
  background-color: #ba2732;
}

.header__logo,
.footer__logo {
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.header__logo:hover,
.header__logo:focus,
.footer__logo:hover,
.footer__logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px #9a212a;

}
.header__logo:active,
.footer__logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px #8e1e26;
}


/* header */

.header {
  background-color: #f3f7f8;
}

.header__top {
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;

  background-color: #293449;
}

.header__search-field {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.header__search-field:hover {
  background-color: #212a3a;
}
.header__search-field:focus,
.header__search-field:active {
  color: #000000;
  background-color: #ffffff;
}

.header__search-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}
.header__search-field::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}
.header__search-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.header__buttons a {
  color: inherit;
  text-decoration: none;
}

.header__buttons:hover,
.header__buttons:focus {
  background-color:   #212a3a;
}
.header__buttons:active{
  color: rgba(255, 255, 255, 0.6);
  background-color:   #161d29;
}

.header__buttons--green {
  background-color: #63a63e;
}

.header__buttons--green:hover,
.header__buttons--green:focus {
  background-color:   #5fbb2d;
}
.header__buttons--green:active {
  color: rgba(255, 255, 255, 0.5);
  background-color:   #518534;
}

.header__buttons--red {
  background-color: #ee3643;
}

.header__buttons--red:hover,
.header__buttons--red:focus {
  background-color:   #ca2c37;
}
.header__buttons--red:active {
  color: rgba(255, 255, 255, 0.5);
  background-color:   #ba2732;
}

.header__info {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header__contacts .header__tel {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;

  border: 3px solid #ffffff;
}

.header__contacts p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login__list {
  list-style: none;
}

.login__item a {
  font-family: 'Cuprum', Arial, sans-serif;
  color: inherit;
  text-decoration: none;
}

.login__enter,
.login__registration,
.login__user-name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);

  background-color: #ffffff;
}

.login__enter:hover,
.login__registration:hover,
.login__enter:focus,
.login__registration:focus {
  color: rgba(238, 54, 67, 1);
}
.login__enter:active,
.login__registration:active,
.login__user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.login__user-orders,
.login__user-profile {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: rgba(50, 66, 92, 1);
}

.login__user-orders:hover,
.login__user-profile:hover,
.login__user-orders:focus,
.login__user-profile:focus {
  color: rgba(238, 54, 67, 1);
}
.login__user-orders:active,
.login__user-profile:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-nav {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.site-nav ul {
  list-style: none;
}

.site-nav a {
  color: inherit;
  text-decoration: none;
}

.site-nav__item:hover,
.site-nav__item:focus {
  background-color: #293449;
}
.site-nav__item:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}


/* main */

.breadcrumb {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumb a {
  text-decoration: none;
}

.main__title,
.section-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.main__title {
  background-color: #f2f6f8;
}

.section-title--Blue {
  color: #32425c;
}

.showcase-header {
  background-color: #f9f5f0;
}

.section-text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.promo__item {
  background-color: #9e8f80;
}

.materials-feature {
  background-color: #ffbf47;
}

.tools-feature {
  background-color: #3bbce3;
}

.equipment-feature {
  background-color: #dc91d8;
}

.discounts-feature {
  background-color: #8ed78f;
}

.delivery-feature {
  background-color: #ffc047;
}

.features {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  list-style: none;
}

.feature__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}

.feature__link {
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.feature__link:hover,
.feature__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.transport__list {
  list-style: none;
}

.transport__item a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.contacts__map {
  background-color: #f4f2ed;
}

.filters__title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters fieldset {
  border: none;
}

.filters {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.filters__list,
.sorting__list,
.sorting__methods {
  list-style: none;
}

.price-filter__range-scale {
  background-color: #f7f3ec;
}

.price-filter__price-controls {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.price-filter__input {
  font: inherit;
  background-color: #f7f3ec;
}

.price-filter__min-price {
  font: inherit;
}

.manufacturers-filter__list,
.power-filter__list {
  list-style: none;
}

.manufacturers-filter__item,
.power-filter__item {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.manufacturers-filter input:disabled + label,
.power-filter input:disabled + label {
  color: #000000;
  opacity: 0.4;
}

.filters__button {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sorting {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sorting__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.sorting__item a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #ee3643;
  text-decoration: none;
}

.sorting__item a:hover,
.sorting__item a:focus {
  color: #000000;
}

.sorting__item--current a {
  color: #ee3643;
}

.sorting__method a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sorting__method a:hover,
.sorting__method a:focus {
  color: #000000;
}

.sorting__method--current a {
  color: #ee3643;
}

.products__list {
  list-style: none;
}

.product {
  text-align: center;
  background-color: #ffffff;
}

.product:hover,
.product:focus {
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product__link {
  color: #000000;
  text-decoration: none;
}

.product__title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
}

.product__price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;

  text-decoration: none;
  background-color: #ee3643;
}

.product__price--old {
  color: #a9a9a9;

  text-decoration: line-through;
  background-color: #ffffff;
}

.product-buttons__list {
  list-style: none;
}

.product__button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  background-color: #ffffff;
}

.product__button--bookmark {
  outline: 3px solid #63a63e;
}

.product__button--bookmark:hover,
.product__button--bookmark:focus {
  outline: 3px solid #32425c;
}
.product__button--bookmark:active {
  outline: 3px solid #32425c;
  opacity: 0.3;
}

.product__button--buy {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.product__button--buy:hover,
.product__button--buy:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 0 #367315;
}
.product__button--buy:active {
  background-color: #518534;
  box-shadow: inset 0 0;
}

.popular-manufacturers__list {
  list-style: none;
}

.popular-manufacturers__item {
  text-align: center;
  background-color: #ffffff;
}

.popular-manufacturers__item:hover,
.popular-manufacturers__item:focus  {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-manufacturers__item:active  {
  opacity: 0.3;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.pagination__list {
  list-style: none;
}

.pagination__item a {
  text-decoration: none;
  color: inherit;
}

.pagination__item {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
}

.pagination__item--current {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination__item--previous {
  display: none;
}

.about-product {
  background-color: #f2f6f8;
}


/* footer */

.footer__top {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #f3f7f9;

  background-color: #32425c;
}

.footer__bottom {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-nav__list {
  list-style: none;
}

.footer-nav__item a {
  color: inherit;
  text-decoration: none;
}

.footer-nav__item--highlight {
  color: #ffd180;
}

.footer-nav__item:hover,
.footer-nav__item:focus {
  text-decoration: underline;
}

.footer-nav__item:active {
  text-decoration: none;
  opacity: 0.5;
}

.socials {
  text-align: center;
}

.socials__list {
  list-style: none;
}

.socials__item {
  color: #ffffff;
  background-color: #212a3a;
  text-decoration: none;
}

.socials__item:hover,
.socials__item:focus,
.socials__item:active {
  background-color: #ee3643;
}

.feedback__link {
  text-decoration: none;
  color: #ffd180;
}

.feedback__link:hover,
.feedback__link:focus {
  text-decoration: underline;
}
.feedback__link:active {
  text-decoration: none;
  color: #ee3643;
}


/* popups */

.popup {
  display: none
}


/* sliders */

#slide2 {
  display: none
}
